# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build Outputs
dist/
dist-ssr/
build/
*.local

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Server & Database Local Files
server/db.json.bak
server/logs/

# Testing & Coverage
coverage/
.nyc_output/

# Editor & IDE Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
